body{
    background-image: url("../midias/imagens/mycelium_block_bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Minecraft", sans-serif;
}

@font-face {
    font-family: "Minecraft";
    src: url("../midias/fontes/Minecraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }